*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

#build application files
*.ap_

#build for the dex VM
*.dex

#generate files
bin/
gen/

#signing
.signing/